/* MovieBlog.css */

.movie-blog-wrapper {
    margin-block: 3rem;
    padding-inline: 10px;
}

.movie-blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    text-align: left;
}

.blog-post {
    background-color: #aba6a3db;
    border-radius: 8px;
    text-align: left;
    height: fit-content;
    overflow: hidden;

}

.blog-post-content {
    padding: 10px;
    padding-bottom: 1rem;

}

.blog-post-image {
    width: 100%;
    height: auto;
}

.blog-post-title {
    color: #ffffff !important;

}

.blog-post-release-date {
    color: #888;
    margin-bottom: 5px;
    text-align: left;
}

.blog-post-overview {
    font-size: 0.9rem;
    color: #ffffff !important;
    text-align: left;
    max-height: max-content;
    padding-block: 0.8rem;
}

.read-more-link {
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 1rem;
}

.blog-post-rating,
.blog-post-release-date {
    display: inline-block;
    margin: 0 1rem 0 0 !important;
    padding-block: 0;
    line-height: normal;
    color: #ffffff !important;

}

.blog-post-release-date {
    border-right: 1px solid #ffffff;
    padding-right: 1rem;
}