/* MovieDetailsPage.css */

.movie-details {
  max-width: 1100px;
  margin: 0 auto;
  padding-block: 4rem 0;
}

.details-header,
.overview-section,
.m-cast-title {
  padding-inline: 10px;
}

.poster {
  width: 320px;
  margin-right: 20px;
}



.image-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.movie-info {
  flex-grow: 1;
}


.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.movie-info span {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.rating-label {
  float: right;
  padding: 15px !important;
  margin: 0 1rem 0 2rem !important;

}

.year-label {
  border-right: 2px solid #333;
  padding-right: 1rem;
  font-weight: bold !important;
}


.overview-section,
.movie-details-overview-hide {
  padding-block: 1.5rem;
}

.movie-details-overview {
  padding: 0rem 0 2rem;
  max-width: 60%;
}


.movie-info p {
  color: #555;
  text-align: left !important;

}

.details-content {
  margin-top: 20px;
}

iframe {
  width: 100%;
  border: none;
  border-radius: 8px;

}

.cast-list {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
}

.cast-list a {
  padding-block: 0.5rem;
}

.cast-list img {
  width: 140px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}


.character-name {
  margin: 0 !important;
  width: max-content;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;

}

.slick-dots {}

.slick-list {
  margin-bottom: 2.5rem;
}

.movie-details-overview-hide {
  display: none;
}

.info-labels {
  margin-block: 0.5rem;
}

.movie-genres {
  border: 1px solid rgb(255, 255, 255);
  padding: 0.3rem 0.6rem;
  margin-block: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #637CE1;
  color: white !important;
  width: fit-content;
}

@media screen and (max-width: 950px) {
  .movie-details {
    padding-block: 6rem;
    padding-inline: 10px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .movie-details-overview-hide {
    display: block;
  }

  .movie-details-overview-hide {
    padding-block: 0rem;
  }

  .movie-details-title,
  .movie-details-overview {
    display: none;
  }

  .poster-wrapper {
    display: flex;
  }

  iframe {
    min-height: 400px;
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .poster-wrapper {
    display: flex;
    flex-direction: column;
  }

  .poster {
    width: 100%;
  }

  .movie-details-overview-hide {
    padding-block: 1rem;
  }
}


@media screen and (max-width: 470px) {
  .hero-description {
    max-width: 100%;
  }
}