.movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.movie-card .card {
  width: 220px;
  background: var(--bg-secondary);
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
  padding: 1.1rem;
  transition: 0.3s all;
  position: relative;
  height: 380px;
}

.movie-card .card-img-top {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  max-width: 200px;
}

.movie-card .card-title {
  font-size: 16px;
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-primary);
}

.movie-card .rating {
  position: absolute;
  top: 0px;
  left: 0px;
}

.rating,
.list-rating {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--text-primary);
}

.rating.red,
.list-rating.red {
  background: #ffdeda;
  border: 2px solid #fb604b;
  color: #e62e15;
}

.rating.yellow,
.list-rating.yellow {
  background: #fff1ce;
  border: 2px solid #fbca4b;
  color: #916a08;
}

.rating.green,
.list-rating.green {
  background: #dbffe3;
  border: 2px solid #4bfb72;
  color: #125f23;
}

.rating.gray,
.list-rating.gray {
  background: rgb(219, 219, 219);
  border: 2px solid #505050;
  color: #2c2c2c;
}
